.homeA{
    max-width: 1500px;
    margin-left:auto;
    margin-right:auto;
}

.home__imageA{
width:100%;
mask-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
z-index:-1;
margin-bottom:-150px;
}

.text__info{
    font-size: 16px;
    width: 900px;
    color: black; 
    margin-top: 200px;
    margin-left: 20px; 
    /* margin-right: 1270px; */
    font-weight: 850;
    text-align: center;
    /* background-color:lightgray; */
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.benefit{
    font-size: 16px;
    width: 700px;
    margin-left: 1000px; 
    font-weight: 850;
    font-family: 'Courier New', Courier, monospace;
}

.privacy__info{
    font-size: 16px;
    width: 900px;
    margin-left: 20px; 
    font-weight: 850;
    font-family: 'Courier New', Courier, monospace;

}